/PHjs
/website
/finish.js
/db_data
/node_modules
access.log
error.log
/.idea
/www/Controllers/*.js
/www/Core/*.js
/www/Forms/*.js
/www/Managers/*.js
!/www/Managers/getModelSequelize.js
/www/Models/*.js
package-lock.json